<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

  <header id="header"></header>

  <main>
      <header>
          <h1>첫번째 글</h1>
      </header>

      <aside>
        <p><span class="nick-name">갑</span></p>
          <p><a class="u-url" rel="me" href="mailto:tk4003950@gmail.com">tk@mail.com</a></p>
          <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
          <p>#java</p>
      </aside>

      <section>
          <p>본문<br><br></p>

          <div>
              <form>
                  <label for="articleComment" hidden>댓글</label>
                  <textarea id="articleComment" placeholder="댓글 쓰기.." rows="3"></textarea>
                  <button type="submit">쓰기</button>
              </form>

              <ul>
                  <li>
                      <div>
                          <time><small>2022-01-01</small></time>
                          <strong>갑</strong>
                          <p>
                            아야어여오요우유으이
                          </p>
                      </div>
                  </li>
                  <li>
                      <div>
                          <time><small>2022-01-01</small></time>
                          <strong>을</strong>
                          <p>
                              다람쥐 헌 쳇바퀴 타고파
                          </p>
                      </div>
                  </li>
              </ul>
          </div>

          <nav>
              <a href="#">이전 글</a>
              <a href="#">다음 글</a>
          </nav>
      </section>

  </main>

  <footer id="footer"></footer>

</body>
</html>